.advantages {
    min-height: 555px;
    padding: 88px 0 88px 0;
    background-color: #333;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 114px;
    }
    &__item {
        padding: 22px 44px 46px 16px;
        background-color: #D8D8D8;
        min-height: 230px;
        width: 330px;
    }
    &__icons {
        width: 52px;
        height: 52px;
    }
    &__miniheader {
        margin-top: 28px;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #323232;
    }
    &__descr {
        margin-top: 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #626262;
    }
}