.product-1 {
    padding: 26px 0 0 0;
    min-height: 690px;
    background: url(../img/bg-2.jpg)  center (center/cover) no-repeat;
    .container {
        display: flex;
    }
    &__img {
        display: block;
        margin-left: 200px;
    }
    &__wrapper {
        margin-left: 360px;
        width: 444px;
    }
    &__header {
        margin-top: 70px;
        text-align: start;
        color: #56CCF2;
    }
    &__descr {
        display: block;
        margin-top: 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #E0E0E0;
    }
    &__options {
        display: flex;
        margin-top: 94px;
    }
    &__option {
        margin-right: 54px;
    }
    &__number {
        font-weight: 600;
        font-size: 34px;
        color: #F2C94C;
    }
    &__word {
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #D4DEE5;
    }
    &__btn {
        margin-top: 8px;
        width: 230px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        color: #333333;
        padding-top: 15px;
    }
}

.product-2 {
    padding: 26px 0 0 0;
    min-height: 710px;
    background: url(../img/bg-3.jpg)  center (center/cover) no-repeat;
    .container {
        display: flex;
    }
    &__wrapper {
        width: 444px;
    }
    &__header {
        margin-top: 70px;
        text-align: start;
        color: #56CCF2;
    }
    &__descr {
        display: block;
        margin-top: 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #E0E0E0;
    }
    &__options {
        display: flex;
        margin-top: 94px;
    }
    &__option {
        margin-right: 54px;
    }
    &__number {
        font-weight: 600;
        font-size: 34px;
        color: #F2C94C;
    }
    &__word {
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #D4DEE5;
    }
    &__btn {
        margin-top: 8px;
        width: 230px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        color: #333333;
        padding-top: 15px;
    }
    &__img {
        display: block;
        margin-left: 375px;
    }
}

.product-3 {
    padding: 26px 0 0 0;
    min-height: 710px;
    background: url(../img/bg-4.jpg)  center (center/cover) no-repeat;
    .container {
        display: flex;
    }
    &__img {
        display: block;
        margin-left: 200px;
    }
    &__wrapper {
        margin-left: 360px;
        width: 444px;
    }
    &__header {
        margin-top: 70px;
        text-align: start;
        color: #56CCF2;
    }
    &__descr {
        display: block;
        margin-top: 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #E0E0E0;
    }
    &__options {
        display: flex;
        margin-top: 94px;
    }
    &__option {
        margin-right: 54px;
    }
    &__number {
        font-weight: 600;
        font-size: 34px;
        color: #F2C94C;
    }
    &__word {
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #D4DEE5;
    }
    &__btn {
        margin-top: 8px;
        width: 230px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        color: #333333;
        padding-top: 15px;
    }
}

.product-4 {
    padding: 26px 0 0 0;
    min-height: 710px;
    background: url(../img/bg-5.jpg)  center (center/cover) no-repeat;
    .container {
        display: flex;
    }
    &__wrapper {
        width: 444px;
    }
    &__header {
        margin-top: 70px;
        text-align: start;
        color: #56CCF2;
    }
    &__descr {
        display: block;
        margin-top: 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #E0E0E0;
    }
    &__options {
        display: flex;
        margin-top: 94px;
    }
    &__option {
        margin-right: 54px;
    }
    &__number {
        font-weight: 600;
        font-size: 34px;
        color: #F2C94C;
    }
    &__word {
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #D4DEE5;
    }
    &__btn {
        margin-top: 8px;
        width: 230px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        color: #333333;
        padding-top: 15px;
    }
    &__img {
        display: block;
        margin-left: 375px;
    }
}